<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog" />
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="D://Logs//fileLiza.txt" layout="${level:uppercase=true}|${message}(${date:format=dd.MM.yyyy})"/>
      <target xsi:type="Mail"
          name="logMail"
          html="true"
          body="${message}"
          subject="Фатальная ошибка"
          smtpAuthentication="Basic"
          to="test-email@gmail.com"
          from="liza.voronkova.01@mail.ru"
          smtpUserName="liza.voronkova.01@mail.ru"
          smtpPassword="milenaaav45"
          smtpServer="smtp.mail.com"
          smtpPort="25"
          layout="${level:uppercase=true}|${message}(${date:format=dd.MM.yyyy})"/>
    </targets>
    <rules>
      <logger name="*" minlevel="Info" maxlevel="Error" writeTo="logfile" />
      <logger name="*" level="Fatal" writeTo="logMail" />
    </rules>
  </nlog>
</configuration>
